<?xml version="1.0" encoding="UTF-8"?>

<launch>

	<arg name="monitor_param_file" default="$(find coverage_control)/scripts/monitor_params.yaml" />
	<arg name="uav_generics_file" default="$(find coverage_control)/scripts/uav_generic_params.yaml" />

	<!-- Monitor node -->
	<node name="monitor" pkg="coverage_control" type="monitor_node.py" args="$(arg monitor_param_file)" output="screen" />

	<!-- UAS nodes -->
	<node name="uas_1" pkg="coverage_control" type="uas_node.py" args="1 $(arg uav_generics_file) $(find coverage_control)/scripts/uav1_params.yaml" output="screen" />

	<node name="uas_2" pkg="coverage_control" type="uas_node.py" args="2 $(arg uav_generics_file) $(find coverage_control)/scripts/uav2_params.yaml" output="screen" />

	<!-- <node name="uas_3" pkg="coverage_control" type="uas_node.py" args="3 $(arg uav_generics_file) $(find coverage_control)/scripts/uav3_params.yaml" output="screen" />

	<node name="uas_4" pkg="coverage_control" type="uas_node.py" args="4 $(arg uav_generics_file) $(find coverage_control)/scripts/uav4_params.yaml" output="screen" /> -->

</launch>